extends layout

block content
  div.container-fluid.d-flex.flex-column.align-items-center.justify-content-center.bg-light
    if user
      div.align-self-start
        p.fs-4 Hi, #{user.username}

    div.w-50
        h3.mt-2.text-center.mb-2.home-title= title
        if !user
          p.text-center.font-monospace Login or Sign-up to create messages.
        if user
          if user.member === false
            p.text-center To join our membership club, click here to #[a.text-decoration-none(href="/membership-signup") become a member.]
          p.text-center.fs-6 #[a.text-decoration-none(href="/messages/create") Create a message]
        div.pt-1
          ul.d-flex.flex-column.gap-3.list-unstyled
            each message in messages 
              li.p-2.shadow.rounded
                div.w-100
                  if user
                    if user.member || user.isAdmin
                      div.d-flex.justify-content-between
                        p.fw-bold= message.author.username
                        p= message.date
                  hr.my-2
                  div.d-flex.justify-content-between.gap-2
                    div
                      h6.fw-bold.m-0= message.title 
                      p.text-muted= message.text
                    div
                      if user
                        if user.isAdmin 
                          a.btn.btn-danger.py-1.px-2(href=`/messages/delete/${message._id}`) Delete
